{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Avish Knitting Industries</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
	<link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/avv2.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'img/logo.jpg'%}" alt="Logo" class="tm-site-logo" />
							<div class="tm-site-text-box">
								<h1 class="tm-site-title" style="color:yellow"><b>Avish Knittng Industries</b></h1>
								<h6 class="tm-site-description" style="color:yellow">Warp Knitting</h6>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="/" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="contact.html" class="tm-nav-link">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to Sample Gallery</h2>
				<p class="col-12 text-center"></p>
			</header>

			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">Cotton</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Nylon</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Dot_Bindi</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Laces</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Plane Nets</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Jacquard</a></li>

					</ul>
				</nav>
			</div>
			<div class="dashed-border">

			</div>

			<!-- Gallery -->

			<div class="row tm-gallery">
				<!-- gallery page 1 -->

				<div id="tm-gallery-page-cotton" class="tm-gallery-page">



					<div class="tm-paging-links">
						<nav>
							<ul>
								<li class="tm-paging-item"><a href="#" class="tm-paging-link-sub active">flower</a></li>
								<li class="tm-paging-item"><a href="#" class="tm-paging-link-sub">geometrical</a></li>
								<li class="tm-paging-item"><a href="#" class="tm-paging-link-sub">slowspeed</a></li>
								<li class="tm-paging-item"><a href="#" class="tm-paging-link-sub">jacquard</a></li>


							</ul>
						</nav>
					</div>
					<div id="tm-gallery-page1-flower" class="tm-section tm-container-inner">
						<div>
					<header class="row tm-welcome-section">
						<h2  class="tm-section-title ">Flower Designs</h2>
					</header>
					</div>

					<div class="row1 tm-gallery">

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gulshan.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Gulshan</h4>

							</figcaption>
						</figure>
					</article>
						<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gobhi.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Gobhi</h4>

							</figcaption>
						</figure>
					</article>
						<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gemini.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Gemini</h4>

							</figcaption>
						</figure>
					</article>

						<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/char-chinar.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Char Chinar</h4>

							</figcaption>
						</figure>
					</article>
						<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/double-rose.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Double Rose</h4>

							</figcaption>
						</figure>
					</article>
							<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/kirti.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Kirti</h4>

							</figcaption>
						</figure>
					</article>

							<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/arihant.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Arihant</h4>

							</figcaption>
						</figure>
					</article>

							<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/chicken-flower.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Chicken Flower</h4>

							</figcaption>
						</figure>
					</article>

							<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/sunflower.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Sunflower</h4>

							</figcaption>
						</figure>
					</article>
						<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/dulaari.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Fulwaari</h4>

							</figcaption>
						</figure>
					</article>

						<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/pankha.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Pankha</h4>

							</figcaption>
						</figure>
					</article>
						<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/khushi.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Khushi</h4>

							</figcaption>
						</figure>
					</article>
					</div>
				</div>

				<div id="tm-gallery-page1-geometrical" class="tm-section tm-container-inner hidden">

					<div>
					<header class="row tm-welcome-section">
						<h2  class="tm-section-title ">Geometrical Designs</h2>
					</header>
					</div>


				<div class="row1 tm-gallery">
						<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/sultan-patta.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Sultan Patta</h4>

							</figcaption>
						</figure>
					</article>
						<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/alaska.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Alaska</h4>

							</figcaption>
						</figure>
					</article>
						<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/double-lace.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Double Lace</h4>

							</figcaption>
						</figure>
					</article>
						<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/v-patta.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">V Patta</h4>

							</figcaption>
						</figure>
					</article>	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/lace-patta.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Lace Patta</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/muskan-patta.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Muskan Patta</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/patang.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Patang</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/barfi.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Barfi</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/globe.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Globe</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/makhi.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Makhi</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/akshay2.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Akshay 2</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/jalebi.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Jalebi</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/paisa.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Paisa</h4>

							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/p-2.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">P 2</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/big-paisa.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Big Paisa</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/aankhen.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Aankhen</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gpo-2.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">GPO 2</h4>

							</figcaption>
						</figure>
					</article>
				</div>
				</div>

				<div id="tm-gallery-page1-slowspeed" class="tm-section tm-container-inner hidden">

					<div>
					<header class="row tm-welcome-section">
						<h2  class="tm-section-title ">Slow Speed Designs</h2>
					</header>
					</div>

				<div class="row1 tm-gallery">

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/1.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
						<figcaption>
								<h4 class="tm-gallery-title">1.</h4>

							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/2.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
						<figcaption>
								<h4 class="tm-gallery-title">2.</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/3.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">3.</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/4.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
						<figcaption>
								<h4 class="tm-gallery-title">4.</h4>

							</figcaption>
						</figure>
					</article>


					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/5.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">5.</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/6.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">6.</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/7.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">7.</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/8.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">8.</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/9.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">9.</h4>

							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/10.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">10.</h4>

							</figcaption>
						</figure>
					</article>
					</div>
					</div>

					<div id="tm-gallery-page1-jacquard" class="tm-section tm-container-inner hidden">

					<div>
					<header class="row tm-welcome-section">
						<h2  class="tm-section-title ">Jacquard Designs</h2>
					</header>
					</div>

				<div class="row1 tm-gallery">

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/a.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
						<figcaption>
								<h4 class="tm-gallery-title">a.</h4>

							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/b.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
						<figcaption>
								<h4 class="tm-gallery-title">b.</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/c.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">c.</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/d.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
						<figcaption>
								<h4 class="tm-gallery-title">d.</h4>

							</figcaption>
						</figure>
					</article>


					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/e.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">e.</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/f.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">f.</h4>

							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/g.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">g.</h4>

							</figcaption>
						</figure>
					</article>

					</div>

				</div>
				</div>
				<!-- gallery page 1 -->

				<!-- gallery page 2 -->
				<div id="tm-gallery-page-nylon" class="tm-gallery-page hidden">

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/fall-plate.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Fall Plate</h4>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/ashoka.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Ashoka</h4>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/payal.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Payal</h4>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gulshan-poly.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Gulshan</h4>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/barfi-poly.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Barfi</h4>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/chess.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Chess</h4>
							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/double-lace-poly.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Double Lace </h4>
							</figcaption>
						</figure>
					</article>

				</div> <!-- gallery page 2 -->

				<!-- gallery page 3 -->
				<div id="tm-gallery-page-dot_bindi" class="tm-gallery-page hidden">

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/star-dot.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Star Dot</h4>
							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/oval-dot-nylon.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Oval Dot Nylon</h4>
							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/standard-dot-poly.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Standard Dot Polyster</h4>
							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/standard-dot-nylon.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Standard Dot Nylon</h4>
							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/zero-dot-polyster.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Zero Dot Polyester</h4>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/dot-80-poly.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Dot 80-80 Polyester</h4>
							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/big-dot-poly.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Big Dot Polyester</h4>
							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/small-dot-nylon.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Small Dot Nylon</h4>
							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/big-dot-nylon.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Big Dot Nylon</h4>
							</figcaption>
						</figure>
					</article>

					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/med-dot-nylon.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Medium Dot Nylon</h4>
							</figcaption>
						</figure>
					</article>

				</div> <!-- gallery page 3 -->
			</div>



		</main>


	</div>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();

				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link-sub').click(function(e){
				e.preventDefault();

				var page = $(this).text().toLowerCase();
				$('.tm-section').addClass('hidden');
				$('#tm-gallery-page1-' + page).removeClass('hidden');
				$('.tm-paging-link-sub').removeClass('active');
				$(this).addClass("active");

				var elmntToView = document.getElementById("tm-gallery-page1-flower");
				elmntToView.scrollIntoView();
				window.scrollBy(0, -50);
			});
		});
	</script>
</body>
</html>